* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: #f0f0f0;
  font-family: "Noto Sans JP", sans-serif;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  -ms-flex-pack: justify;
  margin: 0 auto;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: center;

  max-width: 1280px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main {
  animation: fadeIn 2s ease 0s 1 normal;
}

.main-container {
  max-width: calc(100% - 300px);
  animation: fadeIn 2s ease 0s 1 normal;
}

.aside-container {
  max-width: 300px;
}

@media screen and (max-width: 768px) {
  .flex {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
  }
  .main-container,
  .aside-container {
    max-width: 100%;
  }
}

.no-decoration {
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
  }
}

.no-selection {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.page {
  max-width: 1080px;
  padding: 20px;
  margin: 10px auto;
  background: white;
  border-radius: 1em;

  @media screen and (max-width: 768px) {
    margin-right: 10px;
    margin-left: 10px;
  }

  h1, h2 {
    text-align: left;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 18px;
  }

  p, a {
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
  }

  ul, li {
    margin-left: 10px;
    font-size: 14px;
  }

  ul {
    margin-bottom: 10px;
  }
}

.latest-posts {
  text-align: center;
}

.index-tags {
  margin: 15px auto;
  border-radius: 1em;
  transition: 500ms;
  background: white;
  text-align: center;
  max-width: 1280px;

  @media screen and (max-width: 768px) {
    margin-right: 10px;
    margin-left: 10px;
  }

  .label {
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    text-align: center;
    background: #2581dc;
    text-decoration: none !important;
    margin: 0 auto;
    transition: 0.4s;
    color: white;
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */
    max-width: 100%;
    height: 40px;

    .label-text {
      line-height: 40px;
      font-size: 20px;
      margin: 30px;
    }
  }

  .tags {
    padding: 10px;
  }
}

.add-post {
  text-align: center;
}

.post-button {
  font-size: 15px;
  text-decoration: none !important;
  padding: 4px 15px;
  background: royalblue;
  border-radius: 4px;
  transition: 0.4s;
  color: white;
  user-select: none; /* CSS3 */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari、Chromeなど */
  -ms-user-select: none; /* IE10かららしい */

  &:hover {
    opacity: 0.9;
    text-decoration: none !important;
  }
}

.button {
  font-size: 15px;
  text-decoration: none !important;
  padding: 3px 15px;
  background: royalblue;
  border-radius: 4px;
  transition: 0.4s;
  color: white;
  user-select: none; /* CSS3 */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari、Chromeなど */
  -ms-user-select: none; /* IE10かららしい */

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }

  &:hover {
    opacity: 0.9;
    text-decoration: none !important;
  }
}

.button.is-disabled {
  background-color: #777;
  cursor: not-allowed;
}

.underlined-title {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
  color: black;

  &:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -11px; /*線の上下位置*/
    display: inline-block;
    width: 80%; /*線の長さ*/
    height: 4px; /*線の太さ*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); /*位置調整*/
    background-color: #444; /*線の色*/
    border-radius: 10px; /*線の丸み*/
  }
}

.post-preview {
  transition: 500ms;
  background: white;
  transition: 500ms;
  box-shadow: 0 0 4px gray;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin-right: 15px;
  margin-bottom: 10px;
  width: 300px;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: 0;
    margin-bottom: 15px;
  }


  &:hover {
    opacity: 0.8;
  }

  .label {
    font-size: 12px;
    text-decoration: none !important;
    padding: 3px;
    transition: 0.4s;
    color: white;
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */
    max-width: 100%;
    height: auto;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;

    @media screen and (max-width: 768px) {
      font-size: 15px;
    }
  }

  .text-content {
    height: 100px;
    margin-left: 10px;

    @media screen and (max-width: 768px) {
      margin-left: 0;
      font-size: 15px;
      margin-top: 10px;
      flex-direction: column;
    }

    .title {
      color: black;
      font-size: 16px;

      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }

    .description {
      color: #444;
      font-size: 14px;
      word-break: break-all;
      margin: 10px;

      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }

    .tags {
      margin-top: 10px;

      @media screen and (max-width: 768px) {
        margin-top: 10px;
      }
    }
  }
  .date {
    background: whitesmoke;
    color: #444;
    font-size: 12px;
    right: 0;
    bottom: 0;

    @media screen and (max-width: 768px) {
      font-size: 9px;
    }
  }
}

.tag {
  width: auto;
  padding: 2px 7px;
  border-color: #444;
  border-style: solid;
  border-width: 1px;
  text-decoration: none !important;
  transition: 0.4s;
  color: #444;
  user-select: none; /* CSS3 */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari、Chromeなど */
  -ms-user-select: none; /* IE10かららしい */
  border-radius: 1em;

  &:hover {
    color: black;
    border-color: black;
    transition: all 0.2s linear;
    text-decoration: none !important;
  }

  font-size: 13px;
}

.float-circle {
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: center;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  @media screen and (max-width: 768px) {
    bottom: -15px;
    right: -15px;
  }
}

.error {
  font-size: 12px;
  color: red;
  margin-left: 20px;
}

form {
  margin: 1em 0;
}

.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em;
}
/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the 
* pesky delay.
*/
textarea {
  resize: vertical;
  font-size: 20px;
  height: 150px;
}

label,
input {
  transition: all 0.2s;
  touch-action: manipulation;
}

input {
  font-size: 1.5em;
}

input {
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
}

input:focus,
textarea:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}

label {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
/**
* Translate down and scale the label up to cover the placeholder,
* when following an input (with placeholder-shown support).
* Also make sure the label is only on one row, at max 2/3rds of the
* field—to make sure it scales properly and doesn't wrap.
*/
input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}
/**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
/**
* Show the placeholder when the input is focused.
*/
input:focus::-webkit-input-placeholder {
  opacity: 1;
}
/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when 
* there's something in the input at all.
*/
input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);

$md-radio-checked-color: rgb(51, 122, 183);
$md-radio-border-color: rgba(0, 0, 0, 0.54);
$md-radio-size: 20px;
$md-radio-checked-size: 10px;
$md-radio-ripple-size: 15px;

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0);
  }
}

.md-radio {
  font-family: "Roboto", sans-serif;
  margin: 16px 0;

  &.md-radio-inline {
    display: inline-block;
  }

  input[type="radio"] {
    display: none;
    &:checked + label:before {
      border-color: $md-radio-checked-color;
      animation: ripple 0.2s linear forwards;
    }
    &:checked + label:after {
      transform: scale(1);
    }
  }

  label {
    display: inline-block;
    min-height: $md-radio-size;
    position: relative;
    padding: 0 ($md-radio-size + 10px);
    margin-bottom: 0;
    cursor: pointer;
    vertical-align: bottom;
    &:before,
    &:after {
      position: absolute;
      content: "";
      border-radius: 50%;
      transition: all 0.3s ease;
      transition-property: transform, border-color;
    }
    &:before {
      left: 0;
      top: 0;
      width: $md-radio-size;
      height: $md-radio-size;
      border: 2px solid $md-radio-border-color;
    }
    &:after {
      top: $md-radio-size / 2 - $md-radio-checked-size / 2;
      left: $md-radio-size / 2 - $md-radio-checked-size / 2;
      width: $md-radio-checked-size;
      height: $md-radio-checked-size;
      transform: scale(0);
      background: $md-radio-checked-color;
    }
  }
}

@import url(https://fonts.googleapis.com/css?family=Roboto);

$md-checkbox-checked-color: rgb(51, 122, 183);
$md-checkbox-border-color: rgba(0, 0, 0, 0.54);
$md-checkbox-border-color-disabled: rgba(0, 0, 0, 0.26);
$md-checkbox-checked-color-disabled: rgba(0, 0, 0, 0.26);

$md-checkbox-margin: 1em 0;
$md-checkbox-size: 1.25em;
$md-checkbox-padding: .25em;
$md-checkbox-border-width: 2px;
$md-checkbox-border-radius: 0.125em;
$md-checkmark-width: 0.125em;
$md-checkmark-color: #fff;
$md-checkbox-label-padding: .75em;

.md-checkbox {
  position: relative;
  margin: $md-checkbox-margin;
  text-align: left;

  &.md-checkbox-inline {
    display: inline-block;
  }
  
  label {
    cursor: pointer;
    display: inline;
    line-height: $md-checkbox-size;
    vertical-align: top;
    clear: both;
    padding-left: 1px;
    &:not(:empty) {
      padding-left: $md-checkbox-label-padding;
    }
    
    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
    }
    
    &:before {
      // box
      width: $md-checkbox-size;
      height: $md-checkbox-size;
      background: #fff;
      border: $md-checkbox-border-width solid $md-checkbox-border-color;
      border-radius: $md-checkbox-border-radius;
      cursor: pointer;
      transition: background .3s;
    }
  
    &:after {
      // checkmark
    }    
  }
  
  input[type="checkbox"] {
    outline: 0;
    visibility: hidden;
    width: $md-checkbox-size;
    margin: 0;
    display: block;
    float: left;
    font-size: inherit;

    &:checked {
       + label:before{
        background: $md-checkbox-checked-color;
        border:none;
      }
      + label:after {
        
        $md-checkmark-size: $md-checkbox-size - 2 * $md-checkbox-padding;

        transform: translate($md-checkbox-padding, ($md-checkbox-size / 2) - ($md-checkmark-size / 2.6)) rotate(-45deg);
        width: $md-checkmark-size;
        height: $md-checkmark-size / 2;
        
        border: $md-checkmark-width solid $md-checkmark-color;
        border-top-style: none;
        border-right-style: none;
      } 
    }
    
    &:disabled {
      + label:before{
        border-color: $md-checkbox-border-color-disabled;
      }
      &:checked {
        + label:before{
          background: $md-checkbox-checked-color-disabled;
        }
      }
    }
  }
 
}

.submit-button {
  font-size: 20px;
  text-decoration: none !important;
  padding: 3px 15px;
  background: #2d8fdd;
  transition: 0.4s;
  color: white;
  user-select: none; /* CSS3 */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari、Chromeなど */
  -ms-user-select: none; /* IE10かららしい */
  width: 100%;

  &:hover {
    opacity: 0.9;
    text-decoration: none !important;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.delete {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  border: 0;
  background-color: red;
  border-radius: 32px;
  margin: 0;
  padding: 0;
  transform: scale(0.5);
  cursor: pointer;
}
.delete:before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 4px;
  left: 13px;
  width: 6px;
  height: 24px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: white;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.delete:after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 4px;
  left: 13px;
  width: 6px;
  height: 24px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: white;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.delete:hover {
  background-color: red;
}
